.button-button-3{
    box-sizing: border-box;
    resize: vertical;
    background-color: pink;
    border: none;
    color: black;
    padding: 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 12px;
}

#button-button-3{
    box-sizing: border-box;
    resize: vertical;
    background-color: pink;
    border: none;
    color: black;
    font-weight: bold;
    padding: 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 12px;
}

img {
    margin: 0 30px;
}

#my-navbar {
    background-color: white!important;
}

.nav-item{
    margin: 0 30px;
}

.nav-link {
    font-size: 2vw;
    color: steelblue;
}

.button-button-1{
    box-sizing: border-box;
    resize: vertical;
    background-color: black;
    border: none;
    color: white;
    padding: 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 12px;