{% include 'navbar.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
<title> Adhiba Mastura - About</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style type="text/css">
body {
	background-image: url("https://preview.ibb.co/hvP3mp/aboutbg.jpg");
	background-repeat: repeat;
	background-size: contain;
}
</style>
</head>
<body>
	<br/>
	<div class="row">
		<div class="col-3"> </div>
		<div class="col-3">
			<h3> LETS GET PERSONAL! </h3>
			<p>Hi! My name is Adhiba Mastura and I'm 19 years old. I live with my two brothers, my sister and my parents in Depok. I love to cook and watch thriller or action movies. I'm currently studying Information System at Faculty of Computer Science, University of Indonesia.</p>
		</div>
		<img src="https://preview.ibb.co/kbVufK/dhb.jpg" border="0" style="width: 20%; height: 20%;">
	</div>
	<br> <br>
	<center> <h3 id="my-fam"> MY FAMILY </h3>
		<br>
		<img src="https://preview.ibb.co/kjFZge/hakam.jpg" alt="hakam" border="0" style="width: 11%; height: 11%;">
		<img src="https://preview.ibb.co/hX9AMe/abg.jpg" alt="abg" border="0" style="width: 11%; height: 11%;">
		<img src="https://preview.ibb.co/j6SVMe/kak.jpg" alt="kak" border="0" style="width: 11%; height: 11%;">
		<img src="https://preview.ibb.co/gqcrSK/bunda.jpg" alt="bunda" border="0" style="width: 11%; height: 11%;">
		<img src="https://preview.ibb.co/kg1eEz/ayah.jpg" alt="ayah" border="0" style="width: 11%; height: 11%;">
		<br>
		<br>
	</center>
	<br>
	<center> <h3 id="my-frds"> MY FRIENDS </h3>
		<br>
		<img src="https://preview.ibb.co/fej1jq/croods.jpg" alt="croods" border="0" style="width: 12%; height: 12%;">
		<img src="https://preview.ibb.co/mLsfMe/azh.jpg" alt="azh" border="0" style="width: 12%; height: 12%;">
		<img src="https://preview.ibb.co/jzWqMe/h7.jpg" alt="h7" border="0" style="width: 12%; height: 12%;">
		<br/> <br/> <br/>
	</center>

</body>
</html>