{% include 'navbar.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
<title> Adhiba Mastura - BOTM</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style type="text/css">
body {
  background-image: url("https://preview.ibb.co/hvP3mp/aboutbg.jpg");
  background-repeat: repeat;
  background-size: contain;
}
</style>
</head>
<body>
  <h1 id="apa-kabar"><center>Books of The Month</center></h1>
  <br><br>
  <text style="margin-left: 15%; font-weight: bold;">Favorite(s) : </text>
  <text id="counter" style=" font-weight: bold;">0</text>
  <div class="row">
      <div class="col-3">
        <form class="form-inline" action="" method="GET">
          <div class="form-group">
            <input class="form-control mr-sm-2" id="search" name="search" type="search" placeholder="Search Book..." aria-label="Search" style="margin-left: 70%">
            <button class="button-button-1" type="submit" style="margin-left: 70%">Search</button>
          </div>
        </form>
      </div>
      <div class="col-3"> </div>
      <div class="col-4">
            {% if user.is_authenticated %}
                   <p class="display-4" style="font-size: 3vw;">Hello, {{ user.username }}</p>
                   <a class="button-logout" href="logout/">Logout</a>
            {% else %}
                   <a class="lead" href="{% url 'social:begin' 'google-oauth2' %}">Log in</a>
            {% endif %}
     </div>
   </div>
  <center><table class="table table-hover table-dark" style="width: 70%">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Cover</th>
      <th scope="col">Add to Favorite</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table></center>
<script src="{% static 'js/script.js' %}"></script>
</body>