{% include 'navbar.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
<title> Adhiba Mastura - Home</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style type="text/css">
body {
	background-image: url("https://preview.ibb.co/nf7Omp/homebg.jpg");
	background-repeat: repeat;
	background-size: contain;
}
</style>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<br><br>
				<center><h1 style="font-size: 80px; color: dimgrey;"> WELCOME! I'M DHIBA. </h1></center>
				<center><h3> I'D RATHER BE COOKING BUT HERE WE ARE, SO ENJOY! :) </h3></center>
				<br><br><br>
			</div>
		</div>
		<div class="row">
			<div class="col-4"> </div>
			<div class="col-4">
			    <center><h4 class="judul" style="color: dimgray;">Subscribe to My Website!</h4></center>
                <form class="form_input" method="POST">
                    <div class="form-group">
                        {%csrf_token%}
                        {{forms}}
                    </div>
                    <input class="submit" id="button-button-3" disabled type="submit" value="Subscribe"></input>
                </form></center>
            </div>
        </div>
	</div>
	<script src="{% static 'js/subscribe.js' %}"></script>
</body>
</html>