{% include 'navbar.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
<title> Adhiba Mastura - SUBSCRIBERS</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style type="text/css">
body {
  background-image: url("https://preview.ibb.co/hvP3mp/aboutbg.jpg");
  background-repeat: repeat;
  background-size: contain;
}
</style>
</head>
<body>
  <h1 id="apa-kabar"><center>List of Subscribers</center></h1>
  <br><br>
  <center><table class="table table-hover table-dark" style="width: 70%">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table></center>
<script src="{% static 'js/subscribe.js' %}"></script>
</body>