{% load static %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<nav class="navbar navbar-expand-sm justify-content-center" id="my-navbar">
				  <ul class="navbar-nav">
				  	<li class="nav-item">
				      <a href="{% url 'home' %}" class="nav-link"> HOME </a>
				    </li>
				    <li class="nav-item">
				      <a href="{% url 'about' %}" class="nav-link"> PROFILE </a>
				    </li>
				    <li class="nav-item">
				      <a href="{% url 'books' %}" class="nav-link"> BOTM </a>
				    </li>
				    <li class="nav-item">
				      <a href="{% url 'updateStatus' %}" class="nav-link"> STATUS </a>
				    </li>
				  </ul>
				</nav>
			</div>
		</div>
	</div>
</body>
</html>