{% include 'navbar.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
<title> Adhiba Mastura </title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style type="text/css">
body {
	background-image: url("https://preview.ibb.co/hvP3mp/aboutbg.jpg");
	background-repeat: repeat;
	background-size: contain;
}
</style>
</head>
	<body class="format">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<br>
					<br>
					<h1 id="apa-kabar"><center>Halo, Apa Kabar?</center></h1>
				</div>
			</div>

			<div class="col-sm-12">
				<center>
					<br> <br> <br>
					<table border="2">
						<th><center>Status</center></th>
						{% for i in model %}
						<tr border="2">
							<td class="date"><center>{{ i.status }}</center></td>
						</tr>
						{% endfor %}
					</table>
					<br>
					<form action="{% url 'newStatus' %}" method="post">
						{% csrf_token %}
						{{ form }}
						<button class="button-button-3" id="submit"> Add Status </button>
					</form>
				</center>
			</div>
		</div>
	</body>
</html>

